<div class="container-inline">
<div>
  <h3 class="banner-title col-md-5">Vendor Landing Page</h3>
  <div class="search-form col-md-7 h3-padding">
    <div class="pull-left">
    <form class="form" ng-submit="dashboard.search(dashboard.filters);">
      <input type="text" ng-model="dashboard.filters.filter.chain_id['$regex']" placeholder="Chain / Vendor ID" size="30"  />
      <input type="text" ng-model="dashboard.filters.filter.area_id['$regex']" placeholder="City / Area / SubArea ID" size="30" />
      <input type="submit" value="Search"/>
    </form>
    </div>
    <div class="pull-right"><input type="button" ng-click="dashboard.addNew()" value="Add New"/></div>
  </div>
  <table class="table">
    <thead>
    <tr>
      <th class="cursor-pointer" ng-click="dashboard.filters.sort_by = dashboard.filters.sort_by == 'chain_id' ? '-chain_id' : 'chain_id'; dashboard.search(dashboard.filters) ">
        Chain&nbsp;/ Vendor&nbsp;ID
        <span class="glyphicon glyphicon" ng-class="dashboard.getSortClass(dashboard.filters, 'chain_id')" aria-hidden="true"></span>
      </th>
      <th class="cursor-pointer" ng-click="dashboard.filters.sort_by = dashboard.filters.sort_by == 'area_id' ? '-area_id' : 'area_id'; dashboard.search(dashboard.filters) ">
        City&nbsp;/ Area&nbsp;/ SubArea&nbsp;ID
        <span class="glyphicon glyphicon" ng-class="dashboard.getSortClass(dashboard.filters, 'area_id')" aria-hidden="true"></span>
      </th>
      <th class="cursor-pointer" ng-click="dashboard.filters.sort_by = dashboard.filters.sort_by == 'title' ? '-title' : 'title'; dashboard.search(dashboard.filters) ">
        Title
        <span class="glyphicon glyphicon" ng-class="dashboard.getSortClass(dashboard.filters, 'title')" aria-hidden="true"></span>
      </th>
      <th class="cursor-pointer" ng-click="dashboard.filters.sort_by = dashboard.filters.sort_by == 'subtitle' ? '-subtitle' : 'subtitle'; dashboard.search(dashboard.filters) ">
        Sub Title
        <span class="glyphicon glyphicon" ng-class="dashboard.getSortClass(dashboard.filters, 'subtitle')" aria-hidden="true"></span>
      </th>
      <th class="cursor-pointer" ng-click="dashboard.filters.sort_by = dashboard.filters.sort_by == 'type' ? '-type' : 'type'; dashboard.search(dashboard.filters) ">
        Type
        <span class="glyphicon glyphicon" ng-class="dashboard.getSortClass(dashboard.filters, 'type')" aria-hidden="true"></span>
      </th>
      <th>Deeplink</th>
      <th class="cursor-pointer" ng-click="dashboard.filters.sort_by = dashboard.filters.sort_by == 'from_timestamp' ? '-from_timestamp' : 'from_timestamp'; dashboard.search(dashboard.filters) ">
        From
        <span class="glyphicon glyphicon" ng-class="dashboard.getSortClass(dashboard.filters, 'from_timestamp')" aria-hidden="true"></span>
      </th>
      <th class="cursor-pointer" ng-click="dashboard.filters.sort_by = dashboard.filters.sort_by == 'to_timestamp' ? '-to_timestamp' : 'to_timestamp'; dashboard.search(dashboard.filters) ">
        To
        <span class="glyphicon glyphicon" ng-class="dashboard.getSortClass(dashboard.filters, 'to_timestamp')" aria-hidden="true"></span>
      </th>
      <th ng-click="dashboard.filters.sort_by = dashboard.filters.sort_by == 'campaign_id' ? '-campaign_id' : 'campaign_id'; dashboard.search(dashboard.filters) ">
        Campaign ID
        <span class="glyphicon glyphicon" ng-class="dashboard.getSortClass(dashboard.filters, 'campaign_id')" aria-hidden="true"></span>
      </th>
      <th>Image Url</th>
      <th class="cursor-pointer" ng-click="dashboard.filters.sort_by = dashboard.filters.sort_by == 'is_panindia' ? '-is_panindia' : 'is_panindia'; dashboard.search(dashboard.filters) ">
        Pan India
        <span class="glyphicon glyphicon" ng-class="dashboard.getSortClass(dashboard.filters, 'is_panindia')" aria-hidden="true"></span>
      </th>
      <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="(key, item) in dashboard.banners" ng-class="{{key}}%2 == 0 ? 'active':'';">
      <td>
        <input type="text" ng-model="item.chain_id" ng-if="item.editable" placeholder="Chain / Vendor ID" />
        <span ng-if="!item.editable">{{item.chain_id || "N/A"}}</span>
      </td>
      <td>
        <input type="text" ng-model="item.area_id" ng-if="item.editable" placeholder="City / Area / SubArea ID" />
        <span ng-if="!item.editable">{{item.area_id || "N/A"}}</span>
      </td>
      <td>
        <input type="text" ng-model="item.title" ng-if="item.editable" placeholder="Title" />
        <span ng-if="!item.editable">{{item.title}}</span>
      </td>
      <td>
        <input type="text" ng-model="item.subtitle" ng-if="item.editable" placeholder="Sub Title" />
        <span ng-if="!item.editable">{{item.subtitle}}</span>
      </td>
      <td>
        <select ng-model="item.type" ng-if="item.editable" placeholder="Type">
          <option value="info">Info</option>
          <option value="deeplink">Deeplink</option>
          <option value="filter">Filter</option>
        </select>
        <!--<input type="text" ng-model="item.type" ng-if="item.editable" placeholder="Type" />-->
        <span ng-if="!item.editable">{{item.type}}</span>
      </td>
      <td>
        <input type="text" ng-model="item.deeplink" ng-if="item.editable" placeholder="Deeplink"/>
        <span ng-if="!item.editable">{{item.deeplink}}</span>
      </td>
      <td>
        <span class="relative"><input type="text" datetimepicker-options="{format:false}" ng-model="item.from_timestamp" datetimepicker ng-if="item.editable" placeholder="From" /></span>
        <span ng-if="!item.editable">{{item.from_timestamp}}</span>
      </td>
      <td>
        <span class="relative"><input type="text" ng-model="item.to_timestamp" datetimepicker ng-if="item.editable" placeholder="To"/></span>
        <span ng-if="!item.editable">{{item.to_timestamp}}</span>
      </td>
      <td>
        <input type="text" ng-model="item.campaign_id" ng-if="item.editable" placeholder="Campaign ID"/>
        <span ng-if="!item.editable">{{item.campaign_id || "N/A"}}</span>
      </td>
      <td title="{{item.image_url}}">
        <input type="text" ng-model="item.image_url" ng-if="item.editable" placeholder="Image URL"/>
        <span ng-if="!item.editable">
          <span ng-if="item.image_url.length > 30"><a href="{{item.image_url}}" target="_blank">{{item.image_url.substr(0,30)}}...</a></span>
          <span ng-if="item.image_url.length < 30"><a href="{{item.image_url}}" target="_blank">{{item.image_url}}</a></span>
        </span>
      </td>
      <td>
        <input type="checkbox" ng-model="item.is_panindia" ng-if="item.editable" />
        <span ng-if="!item.editable">{{item.is_panindia}}</span>
      </td>
      <td>
        <a href="javascript:void(0);" ng-if="!item.editable" ng-click="item.editable = !item.editable;"><span >Edit</span></a>
        <a href="javascript:void(0);" ng-if="item.editable && item._id" ng-click="dashboard.saveBanner(key, item);"><span>Save</span></a>
        <a href="javascript:void(0);" ng-if="item._id" ng-click="dashboard.deleteBanner(item);"><span>Delete</span></a>
        <a href="javascript:void(0);" ng-if="item.editable && !item._id" ng-click="dashboard.removeBanner(key);"><span>Remove</span></a>
      </td>
    </tr>
    </tbody>
  </table>
  <div style="text-align: right;"><input type="button" ng-show="dashboard.hasNew" ng-click="dashboard.saveNewBanners();" value="Save"/></div>
</div>
</div>
<style type="text/css">body {width: 1950px;}</style>
